/.emacs.desktop*
/bookmarks
/custom.el
/history
/places
/projects
/recentf
/tramp
/.cache/
/tree-sitter/
/auto-save/
/auto-save-list/
/backups/
/elpa/
/eln-cache/
/image-dired/
/org-persist/
/transient/
/url/cache/
